.header {
  display: flex;
  justify-content: space-around;
  padding: 8px 90px;
  background-color: rgba(0, 0, 255, 0.699);
}

.title {
  color: #fafafa;
  text-transform: capitalize;
}

.form {
  position: relative;
  width: min-content;
  margin: 0 auto;
}

.input {
  font-family: inherit;
  font-size: inherit;
  align-self: center;
  padding-left: 34px;
  width: 400px;
  height: 30px;
}

input:focus {
  outline: solid 1px;
  outline-offset: -3px;
  outline-color: rgba(0, 0, 255, 0.699);
}

.button {
  position: absolute;
  left: 6px;
  top: 5px;
  font-family: inherit;
  font-size: inherit;
  align-self: center;
  height: 24px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: all 250ms ease-out;
}

.button:hover {
  opacity: 60%;
}

.button:active {
  transform: rotate(90deg) scale(1.3);
}
